:root {
    --panel-text-color: #ffffff;
    --panel-border-color: #000000;
    --panel-input-bg-color: #151515;
    --red-color: #ff0000;
    --blue-gray-color: #2a2e3d;
}

#sidePanel {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 15px;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    overflow: auto;
    scrollbar-width: none;
}

#sidePanel.show {
    transform: translateX(0);
    opacity: 1;
}

#sidePanel img {
    max-width: 100%;
    max-height: 300px;
    object-fit: scale-down;
    margin-top: 20px;
    border-radius: 15px;
    filter: none;
    transition: filter 0.3s ease, opacity 0.3s ease;
}

#sidePanel img.hide {
    filter: blur(5px);
    opacity: 0.5;
}

#panelImageManager {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
}

#panelImageManager button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background: var(--blue-gray-color);
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

#panelImageManager button:hover {
    transform: scale(1.05);
    background-color: #3a3e53;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#panelImageManager button:active {
    transform: scale(0.95);
}

#panelFavorite {
    color: white;
    transition: transform 0.3s ease;
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    width: 50%;
    margin: 0 auto;
    display: block;
}

#panelFavorite:hover {
    transform: scale(1.1);
}

#panelRating {
    margin-left: 10px;
    display: flex;
    gap: 5px;
}

#panelRating .star {
    font-size: 24px;
    color: #ccc;
    transition: transform 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

#panelRating .star:hover {
    color: gold;
    transform: scale(1.2);
}

#panelRating .star:active {
    transform: scale(1);
}

#closePanel {
    position: absolute;
    right: 20px;
    background: none;
    border: none;
    color: var(--panel-text-color);
    font-size: 18px;
    cursor: pointer;
}

.parallax-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax-img {
    width: 100%;
    margin-top: 20px;
}

#panelTitle {
    width: 100%;
    padding: 5px;
    border: 1px solid var(--panel-border-color);
    border-radius: 4px;
    background: var(--panel-input-bg-color);
    color: var(--panel-text-color);
    outline: none;
    transition: box-shadow 0.3s ease;
}

#panelTitle:hover {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

#deleteTile {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background: var(--red-color);
    color: white;
    cursor: pointer;
}

#panelHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#panelHeader h3 {
    margin: 0;
}

#panelRatingContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 20px;
}

#panelRatingLabel {
    margin-top: 10px;
}

#panelTagsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 10px;
}

#panelTagsInputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#panelTagsLabel {
    margin-right: 1px;
}

#panelTagsInput {
    padding: 5px;
    font-size: 14px;
    min-width: 50px;
    background-color: var(--panel-input-bg-color);
    color: white;
    outline: none;
    border-radius: 2px;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#panelTagsInput[contenteditable="true"]:empty:before {
    content: "Type here to add tags";
    color: #999;
    font-style: italic;
}

#panelTags {
    border-radius: 4px;
    max-width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

#panelTags .tag {
    padding: 10px 10px;
    background-color: #2a2e3d;
    color: white;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    position: relative;
    overflow: hidden;
    width: auto;
    transition: all 0.3s ease;
}

#panelTags .tag:hover {
    padding: 10px 20px;
    background-color: #3a3e53;
}

#panelTags .tag span {
    margin-left: 10px;
    color: gray;
    cursor: pointer;
    font-size: 16px;
    transition: color 0.3s ease;
}

#panelTags .tag span:hover {
    color: red;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.8);
    }
}

#panelTags .tag.removing {
    animation: fadeOut 0.3s forwards;
}

#panelNotesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#panelNotes {
    min-width: 50%;
    max-width: 80%;
    min-height: 50px;
    background-color: var(--panel-input-bg-color);
    color: white;
    outline: none;
    border-radius: 2px;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
}

#panelStatusContainer {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#panelStatusLabel {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
}

#panelStatus {
    width: 30%;
    padding: 5px;
    border: 1px solid var(--panel-border-color);
    border-radius: 4px;
    background: var(--panel-input-bg-color);
    color: var(--panel-text-color);
    outline: none;
    transition: box-shadow 0.3s ease;
}

#panelStatus:hover {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.status-option {
    padding: 5px 10px;
    background-color: var(--blue-gray-color);
    border-radius: 4px;
    color: var(--panel-text-color);
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.status-option.active {
    background-color: var(--red-color);
}

.status-option:hover {
    background-color: var(--red-color);
}